*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "lora";
    src: url(../Font/Lora-Regular.ttf);
}

@font-face {
    font-family: "poppins";
    src: url(../Font/Poppins-Regular.ttf);
}

:root {
    --branco: #f5ebdf;
    --azul: #28334f;
    --azul-bebe: #94a5d1;
    --azul-claro: #b4bfbe;
    --vinho: #8c5662;
    --azul-piscina: #83cdcb;
}

html{
    scroll-behavior: smooth;
}

/* header */

h1, h2, span{
    font-family: "lora";
}

header{
    width: 100%;
    background-color: var(--azul-bebe);
    position: sticky ;
    top: 0;
    z-index: 10;
    padding-inline: 20px;
}

 .container{
    display: flex;
    justify-content: space-between;
    margin: 0px 10px 0 10px ;
    flex-wrap: wrap;
}

.logo{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.logo>span:first-child{
    font-size:1.5em;
}
.logo>span:last-child{
    font-size: 1em;
}

a{
    text-decoration: none;
    color: var(--vinho);
}

 nav{
    display: none;
} 

nav.menu-aberto{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 100%;
    gap: 10px;
    
}

.container>nav>a{
    width: 40%;
    
}

.btn-whatsapp{
    background-color: var(--azul);
    color: var(--azul-claro);
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 70%;
    margin: 20px auto ;
    padding: 13px;
    text-align: center;
    border-radius: 50px;
}

.conhecer{
    display: block;
    text-align: center;
    font-family: 'poppins';
    font-size: 1.3em;
    color: var(--verde-salvia);
    margin-bottom: 20px;
}

/* propriedades do botão aqui */
.menu-mobile{
    padding: 7px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: var(--vinho);
    color: aliceblue;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}


/* Main */
main, footer{
    padding-inline: 16px;
}


img{
    border-radius: 20px;
} 

p{
    font-family: 'poppins';
    font-size: 1em; 
    margin-bottom: 15px;
}

section#inicio > h2{
    font-size: 24px;
    font-family: 'lora';
    color: var(--verde-salvia);
    margin-bottom: 15px;
}

section#inicio > h3{
    font-family: 'poppins';
    font-size: 1em;
}

#tratamentos>h2,
#tratamentos>article>h3{
    text-align: center;
    margin-bottom: 15px;
}

#tratamentos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.carde{
    display:flex;
    flex-direction: column;
    gap: 10px;
}
.card{
    padding: 10px;
    text-align: center;
    border: 1px solid var(--azul);
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px var(--azul-piscina);
    transition: transform 0.2s ease; 
} 

.card:hover{
    transform:scale(1.04);
    cursor: pointer;
}

#diferenciais>h2{
    text-align: center;
    margin: 20px 20px auto;
    margin-bottom: 20px;
}

#localizacao{
    margin-top: 30px;
    text-align: center;
}

.map{
   display: flex;
    justify-content: center;
    align-items: center;
}

#faq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    
} 

#contato{
    display:block;
    align-items:center ;
    background-color: var(--vinho);
    text-align: center;
    width: 100%;
    padding: 10px;
    margin:20px auto;
    border-radius: 10px;
}
div.link-social{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1em;
}

.btn{
    width: 40%;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--verde);
    padding: 5px 10px 5px 10px;
    border-radius: 40px;
}

