*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "lora";
    src: url(../Font/Lora-Regular.ttf);
}

@font-face {
    font-family: "poppins";
    src: url(../Font/Poppins-Regular.ttf);
}

:root {
    /* Cores principais */
    --cor-primaria: #A8787B;
    --cor-secundaria: #624B49;
    --cor-destaque: #D5A6A8;

    /* Fundos */
    --cor-fundo: #F8F7EF;
    --cor-fundo-secundario: #EDE7DD;

    /* Textos */
    --cor-texto: #4A3A38;
    --cor-texto-claro: #FFFFFF;
    --cor-texto-suave: #806F6D;

    /* Bordas e detalhes */
    --cor-borda: #D8C9C4;
}

html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--cor-fundo-secundario);
}

/* header */

h1, h2, span{
    font-family: "lora";
    color: var(--cor-texto);
}

header{
    width: 100%;
    background-color: var(--cor-destaque);
    position: sticky ;
    top: 0;
    z-index: 10;
    padding-inline: 20px;
}

 .container{
    display: flex;
    justify-content: space-between;
    margin: 0px 10px 0 10px ;
    flex-wrap: wrap;
}

.logo{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.logo>span:first-child{
    font-size:1.5em;
}
.logo>span:last-child{
    font-size: 1em;
}

a{
    text-decoration: none;
    color: var(--cor-texto);
}

 nav{
    display: none;
} 

nav.menu-aberto{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 100%;
    gap: 10px;
    
}

.container>nav>a{
    width: 40%;
    
}

.btn-whatsapp{
    background: linear-gradient(
    to bottom,
    var(--cor-primaria),
    var(--cor-destaque)
);
    color: var(--cor-texto);
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 70%;
    margin: 20px auto ;
    padding: 13px;
    text-align: center;
    border-radius: 50px;
}

.conhecer{
    display: block;
    text-align: center;
    font-family: 'poppins';
    font-size: 1.3em;
    color: var(--cor-texto);
    margin-bottom: 20px;
}

/* propriedades do botão aqui */
.menu-mobile{
    padding: 7px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: var(--cor-primaria);
    color: aliceblue;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}


/* Main */
main, footer{
    padding-inline: 16px;
}


img{
    border-radius: 20px;
} 

p{
    font-family: 'poppins';
    font-size: 1em; 
    margin-bottom: 15px;
}

section#inicio > h2{
    font-size: 24px;
    font-family: 'lora';
    color: var(--cor-texto);
    margin-bottom: 15px;
}

section#inicio > h3{
    font-family: 'poppins';
    font-size: 1em;
}

#tratamentos>h2,
#tratamentos>article>h3{
    text-align: center;
    margin-bottom: 15px;
}

#tratamentos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card-diferenciais{
    font-size:2.3rem;
    margin: 50px 50px 50px 50px;
    /* margin-bottom: 20px; */
}
.card-diferenciais>h2{
    font-size: 2rem;
}
.carde{
    display:flex;
    flex-direction: column;
    gap: 10px;
}
.card{
    background-color: var(--cor-primaria);
    padding: 10px;
    text-align: center;
    border:2px solid var(--cor-borda);
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px var(--cor-fundo-secundario);
    transition: transform 0.2s ease; 
    margin-top: 20px;
} 

.card:hover{
    transform:scale(1.04);
    cursor: pointer;
}

#localizacao{
    margin-top: 30px;
    text-align: center;
}

.map{
   display: flex;
    justify-content: center;
    align-items: center;
}

#faq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    
} 

#contato{
    display:block;
    align-items:center ;
    background-color: var(--cor-fundo);
    box-shadow: 2px 2px 2px 2px var(--cor-fundo-secundario);
    text-align: center;
    width: 100%;
    padding: 10px;
    margin:20px auto;
    border-radius: 10px;
}
div.link-social{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1em;
}

.btn{
    width: 40%;
    display: flex;
    align-items: center;
    gap: 5px;
    background: linear-gradient(
        to top,
        var(--cor-primaria),
        var(--cor-destaque)
    );
    padding: 5px 10px 5px 10px;
    border-radius: 40px;
}

